:root {
  --primary: #292929;

  --marginBottom: 30px;
}

body {
  margin: 0;
  background-color: var(--primary);
  color: #f4f4f4;
  font-family:sans-serif;
  text-align: center;
  margin: 5%;
  font-size: 14pt;
}

h1 {
  font-size:30pt;
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 1em;
}

.version {
  font-size: 0.8em;
  opacity: 0.5;
}

div.quote {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

button {
  -webkit-appearance: none;
  padding: 4% 10% 4% 10%;
  border: 0;
  color: var(--primary);
  margin-bottom: var(--marginBottom);
  text-decoration: bold;
  font-size: 16pt;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

  ul > li {
    background: rgba(255, 255, 255, 0.02);
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
    padding: 5% 2% 5% 2%;
  }

ul li:first-child {
  background: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 1);
}

/* Inner List */
ul ul li {
  background: var(--primary);
}

ul ul li:first-child {
  background: var(--primary);
}

@media only screen and (min-width: 600px) {
  main {
    max-width: 400px;
    margin: 0 auto;
  }
}